<%- include('../layout/header.ejs') %>
  <div class="flex justify-around">
    <div class="flex flex-col gap-3 mx-auto my-10">
      <div class="flex items-center justify-between">
        <h1 class="text-3xl font-bold">Departments</h1>
        <a class="px-4 py-2 bg-green-500 text-white rounded shadow" href="/department/Insert">
          <i class="fa fa-add"></i>
          Add
        </a>
      </div>
      <div class=" bg-white rounded shadow">
        <table class="min-w-full text-left text-sm font-light">
          <thead class="border-b font-medium dark:border-neutral-500">
            <tr>
              <th scope="col" class="px-6 py-4">Id</th>
              <th scope="col" class="px-6 py-4">Name</th>
              <th scope="col" class="px-6 py-4">Code</th>
              <th scope="col" class="px-6 py-4">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% departments.forEach((department, idx)=> { %>
              <tr class="border-b dark:border-neutral-500">
                <td class="whitespace-nowrap px-6 py-4 font-medium">
                  <%= idx + 1 %>
                </td>
                <td class="whitespace-nowrap px-6 py-4">
                  <%= department.name %>
                </td>
                <td class="whitespace-nowrap px-6 py-4">
                  <%= department.code %>
                </td>
                <td class="whitespace-nowrap px-6 py-4 flex items-center gap-3">
                  <a class="bg-green-500 p-2 text-white rounded px-4 py-2"
                    href="/departments/Show_Students/<%= department.id %>/<%= department.name %>">
                    <i class="fa fa-eye mr-1"></i>Students
                  </a>
                  <a class="bg-green-500 p-2 text-white rounded px-4 py-2"
                    href="/departments/Show_Subjects/<%= department.id %>/<%= department.name %>">
                    <i class="fa fa-eye mr-1"></i>Subjects
                  </a>

                  <a class="bg-blue-500 p-2 text-white rounded px-4 py-2" href="/departments/Update/<%= department.id %>">
                    <i class="fa fa-pen mr-1"></i> Edit
                  </a>
                  <button id="B<%=department.id%>" value="<%=department.state%>" class="bg-red-500 p-2 text-white rounded px-4 py-2" onclick="Close_Open('<%=department.id%>')">Close</button>
                </td>
              </tr>
              <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <input id="departments" value="<%=JSON.stringify(departments)%>" hidden/>
  <script>
    window.onload=()=>{
      departments = JSON.parse(document.getElementById("departments").value)
      departments.forEach(element => {
        load_State(element.id)
      });
    }
    function load_State(id){
      let button = document.getElementById("B"+id)
      state = button.value
      if(state=="Open"){
        button.style.backgroundColor="#10B981"
        button.innerHTML="Open"
      }
      else{
        button.style.backgroundColor="#EF4444"
        button.innerHTML="Close"
      }

    }
    async function Close_Open(id){
      let state = document.getElementById("B"+id).value
      const response = await fetch('/department/Close_Open', {
              method: 'POST',
              headers: { 'Content-Type': 'application/json' },
              body: JSON.stringify({ id: id, state: state})
      });
      if(response.ok){
        let data = await response.json()
        document.getElementById("B"+id).value = data.state
        console.log(document.getElementById("B"+id).value)
        load_State(id)
      }
    }
  </script>

  <%- include('../layout/footer.ejs') %>